/*--------------------------------------------------------------
# Chefs Section
--------------------------------------------------------------*/
$color_1: rgba(55, 55, 63, 0.4);
$color_2: rgba(55, 55, 63, 0.9);
$color_3: var(--color-secondary);
$color_4: rgba(33, 37, 41, 0.4);
$color_5: rgba(33, 37, 41, 0.7);

.chefs {
  .swiper {
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 4%;
    .swiper-wrapper {
      margin-top: 2%;
      margin-bottom: 2%;
      display: flex;
      .swiper-slide {
        display: flex;
        .leader-card {
          width: 100%;
        }
      }
    }
    .swiper-button-next {
      --swiper-navigation-color: #000;
    }

    .swiper-button-prev {
      --swiper-navigation-color: #000;
    }
    .swiper-pagination-bullet {
      background-color: #000;
    }
  }

  .carousel-root {
    padding-top: 0;
    .carousel {
      .arrow-left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .bi {
          font-size: 3rem;
        }
      }
      .arrow-right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .bi {
          font-size: 3rem;
        }
      }
      .slider-wrapper {
        padding: 3%;
        .slide {
          display: flex;
          align-items: center;
          .leader-card {
            width: 95%;
          }
        }
      }
    }
  }

  .chef-member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
    transition: 0.3s;
    .member-img {
      position: relative;
      overflow: hidden;
      padding-bottom: 1%;
      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 100%;
        width: 110%;
        background: url(../images/team-shape.svg) no-repeat center bottom;
        background-size: contain;
        z-index: 1;
      }
    }
    .social {
      position: absolute;
      right: -100%;
      top: 30px;
      opacity: 0;
      border-radius: 4px;
      transition: 0.5s;
      background: rgba(255, 255, 255, 0.3);
      z-index: 2;
      a {
        transition: color 0.3s;
        color: $color_1;
        margin: 15px 12px;
        display: block;
        line-height: 0;
        text-align: center;
        &:hover {
          color: $color_2;
        }
      }
      i {
        font-size: 18px;
      }
    }
    .member-info {
      padding: 10px 15px 20px 15px;
      h4 {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 20px;
        color: $color_3;
      }
      span {
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: $color_4;
      }
      p {
        font-style: italic;
        font-size: 14px;
        padding-top: 15px;
        line-height: 26px;
        color: $color_5;
      }
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 0 30px rgba(55, 55, 63, 0.15);
      .social {
        right: 8px;
        opacity: 1;
      }
    }
  }
}
