/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
$color_1: #7f7f90;
$color_2: #000;
$color_3: var(--color-secondary);
$font-family_1: var(--font-secondary);

@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    border-left: 1px solid #666;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
    ul {
      position: absolute;
      inset: 0;
      padding: 50px 0 10px 0;
      margin: 0;
      background: rgba(255, 255, 255, 0.9);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      font-family: $font-family_1;
      border-bottom: 2px solid rgba(255, 255, 255, 0.8);
      font-size: 16px;
      font-weight: 600;
      color: $color_1;
      white-space: nowrap;
      transition: 0.3s;
      &:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-family: $font-family_1;
        border-bottom: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 16px;
        font-weight: 600;
        color: $color_1;
        white-space: nowrap;
        transition: 0.3s;
        i {
          font-size: 12px;
          line-height: 0;
          margin-left: 5px;
        }
      }
      i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
      }
      &:hover {
        color: $color_2;
      }
    }
    li {
      &:hover {
        > a {
          color: $color_2;
        }
      }
    }
    .active {
      color: $color_2;
      border-color: var(--color-primary);
      &:focus {
        color: $color_2;
        border-color: var(--color-primary);
      }
    }
    .dropdown {
      ul {
        position: static;
        display: none;
        padding: 10px 0;
        margin: 10px 20px;
        transition: all 0.5s ease-in-out;
        border: 1px solid #eee;
      }
      .dropdown {
        ul {
          position: static;
          display: none;
          padding: 10px 0;
          margin: 10px 20px;
          transition: all 0.5s ease-in-out;
          border: 1px solid #eee;
        }
        > .dropdown-active {
          display: block;
        }
      }
      > .dropdown-active {
        display: block;
      }
    }
  }
  .mobile-nav-show {
    color: $color_3;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin: 0 10px 0 20px;
  }
  .mobile-nav-hide {
    color: $color_3;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }
  .mobile-nav-active {
    overflow: hidden;
    .navbar {
      right: 0;
      &:before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9996;
      }
    }
  }
}
