/*--------------------------------------------------------------
# Stats Counter Section
--------------------------------------------------------------*/
$color_1: #fff;
$color_2: rgba(255, 255, 255, 0.6);
$font-family_1: var(--font-secondary);

.stats-counter {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/stats-bg.jpg") center center;
  background-size: cover;
  padding: 100px 0;
  .stats-item {
    padding: 30px;
    width: 100%;
    span {
      font-size: 48px;
      display: block;
      color: $color_1;
      font-weight: 700;
    }
    p {
      padding: 0;
      margin: 0;
      font-family: $font-family_1;
      font-size: 16px;
      font-weight: 700;
      color: $color_2;
    }
  }
}
@media (min-width: 1365px) {
  .stats-counter {
    background-attachment: fixed;
  }
}
